.sidemain{
height: 100vh;
width: 200px;

}
.sidebar-content{
  width: 100%;
  margin-left: 50px;
}

 
 .active li{
  border-right: 6px solid darkblue;
  width: 100%;

 }
 
  .logout{
    margin-right: 100px;
    padding: 50px;
  }