
@media screen and  (max-width: 768px) {
    .main-content{
        grid-template-columns: 50px auto;
    }
};
.outlets{
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 99%;
    background: #fff;
    border-radius: .5rem
}
.leftsidebar{
    width: 20%;
}
.rights{
    width: 80%;
}