.blue-txt {
    color: #020C31;
}
.line{
    text-decoration: underline;
}
.location {
    background: #FFFFFF;
}
.gradient {
    background: linear-gradient(180deg, #BB0404 0%, #020C31 100%);
}
.book {
    background: url(../Assets/image/delivery.jpg) no-repeat;
    background-size: cover;
}
.blue-btn {
    background: #020C31;
}
.rating{
    color: #FFCE31;
}
.red {
    color: #BB0404;
}
.form {
background: rgba(255, 255, 255, 0.7);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(25px);
}

/* Customer Support Styling */
.support {
    background: url(../Assets/image/support.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.insta {
    height: 24px;
    width: 24px;
}
